{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry: {{ name }}
{% endblock %}

{% block body %}
    <form action="editentry", method="POST">
        {% csrf_token %}
        <div>
            <span style="font-size: 32px; margin-right: 30px; margin-left: 5px;">Edit Page: {{ name }}</span>
            <span>
                <input type="hidden" name="title" value="{{ name }}">
                <input class="btn btn-primary" type="submit" value="Update Page" style="margin: 12px;">
            </span>
        </div>
            <textarea name="text" style="padding: 15px;">{{ entry }}</textarea>  
    </form>  
{% endblock %}